
.vscode/settings.json
client/.editorconfig
server/bitcoinPricesSince2010.txt
server/env/bin/activate
server/env/bin/activate.csh
server/env/bin/activate.fish
server/env/bin/Activate.ps1
server/env/bin/chardetect
server/env/bin/easy_install
server/env/bin/easy_install-3.8
server/env/bin/f2py
server/env/bin/f2py3
server/env/bin/f2py3.8
server/env/bin/flask
server/env/bin/pip
server/env/bin/pip3
server/env/bin/pip3.8
server/env/bin/python
server/env/bin/python3
server/env/bin/python3.8
server/env/bin/sample
server/env/
